blinker==1.9.0
certifi==2026.7.22
charset-normalizer==3.5.2
click==8.1.6
flask==3.0.2
flask-cors==6.0.5
geopandas==1.2.0
idna==3.20
itsdangerous==2.1.2
jinja2==3.1.2
markupsafe==2.1.5
networkx==3.7
numpy==2.5.3
osmnx==2.1.1
packaging==26.3
pandas==3.0.6
polyline==2.0.4
pyogrio==0.13.0
pyproj==3.8.0
python-dateutil==2.9.0.post0
requests==2.31.0
shapely==2.2.0
six==1.17.0
urllib3==2.8.0
werkzeug==3.0.1
